:host {
  display: flex;
  color:white;
  font-weight: 200;

  .pro, .con {
    i {
      padding: 0 10px;
    }
  }

  .pro {
    background:rgba(28, 187, 180, 0.5);
  }

  .con {
    background:rgba(255, 173, 29, 0.5);
    text-align: right;
  }
}
