<article class="container"
  *ngIf="person">
  <div class="question">
    What's your opinion on
    <h2>{{ person?.name }}?</h2>

    <p>{{ person?.description }}</p>

    <a href="#"><i class="fab fa-wikipedia-w"></i> More information</a>

    <h3>What's Your Veredict?</h3>

    <div class="row">
      <button type="button">
        <app-vote value="1" opacity="0"
          *ngIf="votes$ | get:'user' | not | async"
          [active]="1 == select"
          (vote)="select = $event" >
        </app-vote>
      </button>
      <button type="button">
        <app-vote value="-1" opacity="0"
          *ngIf="votes$ | get:'user' | not | async"
          [active]="1 == select"
          (vote)="select = $event" >
        </app-vote>
      </button>
    </div>
  </div>

  <div class="closing"
    *ngIf="person?.expiry">
    <span>CLOSING</span>
    <span>{{ person?.expiry | relative:'fromNow' }}</span>
  </div>
</article>
